body 
{
    background-image: url("../image/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}
.t
{
	position: relative;
	padding-top:5%;
	padding-bottom:6%;
}
.log_win
{
	position: relative;
    margin-left:auto;
	margin-right:auto;
	margin-top:3.5%;
	opacity:0.9;
	background-color: rgb(0, 51, 51); 
	width: 500px;
    height: auto;
	border-radius: 25px;
}
.text
{
	position:relative;
    width: 400px;
    padding: 12px;
	margin-top: 1%;
	margin-left:10%;
	background-color: white ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	font-size:16px;
	font-weight: bold;
	text-align: center;
}
form
{
	margin-bottom:0px;
}
input[type=submit] {
    width: 400px;
    background-color: #4CAF50;
    color: white;
	margin-top: 1%;
	margin-left:10%;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:16px;
    border: none;
}
input[type=submit]:hover {
    background-color: #45a049;
}
p
{
	margin-top: 0;
	margin-bottom:0;
	padding-left:10px;
	text-align:center;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	color:white;
}

.button
 {
	width: 400px;
    background-color: #4CAF50;
    color: white;
	margin-top: 1%;
	margin-left:10%;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:16px;
    border: none;
	
}
button {
	position: relative;
    width: 400px;
	height: 50px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 6px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:16px;
	
} 
button :hover {
    background-color: #45a049;
}
#help
{
	position:fixed;
	bottom:10px;
	right:10px;
}