body 
{
    background-image: url("../image/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}
.log_win
{
	position: relative;
    margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	opacity:0.9;
	background-color: rgb(0, 51, 51); 
	width: 400px;
    height: 280px;
	border-radius: 25px;
}
form
{
	position: absolute;
	margin-top:7%;
	margin-left:5%;
	margin-right:5%;
	width: 90%;
}
input[type=text],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	font-size:16px;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:16px;
}
input[type=submit]:hover {
    background-color: #45a049;
}
p
{
	margin-top: 0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width: 90%;
	font-family: "Comic Sans MS", cursive, sans-serif; 	
}
a:link {
    color: green;
	text-decoration: none;
}
a:hover {
    color: white;
	text-decoration: none;
}
#help
{
	position:fixed;
	bottom:10px;
	right:10px;
}