 body 
{
    background-image: url("../image/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}
.tt
{
	position: relative;
	padding-top:2%;
	display: inline-block;
	width:100%
}
.tl
{
	position: relative;
	padding-bottom:3%;
	margin-left:20px;
	float:left;
}
.tr
{
	position: relative;
	padding-bottom:3%;
	margin-right:20px;
	float:right;
}
.log_win
{
	position: relative;
    margin-left:auto;
	margin-right:auto;
	margin-top:3.5%;
	opacity:0.9;
	background-color: rgb(0, 51, 51); 
	width: 1080px;
    height: auto;
	border-radius: 25px;
}
input[type=text], select {
    width: auto;
    padding: 3px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	font-size:16px;
}
button {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 3px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:16px;
}
button:hover {
    background-color: #45a049;
}
p
{
	position:relative;
    margin: auto;
	margin-top:5px;
	width: 500px;
    padding: 12px;
	background-color: white ;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	font-size:16px;
	font-weight: bold;
	text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}